# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/
public/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Cache and temporary files
.cache/
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.iml

# React-specific files
.next/
.nyc_output/
coverage/

# MongoDB database dumps
*.dump

# Miscellaneous
*.bak
*.swp
